#{extends 'main.html' /}
#{set title:'Signup as Tenant' /}

<div class="ui three column grid">

  <div class="ui four wide column"></div>
  
  <div class="ui eight wide column">
    
    <!--  page banner -->
    <div class="ui segment">
      <img class="ui fluid image" src="/public/images/myrent_banner.jpg">
    </div>
      
    <!--  main page content -->  
    <div class="ui segment">
      <h1 class="ui center aligned header">Signup as a Tenant</h1> 
      <div class="ui divider"></div>
      

      
      <div class="ui grid">
      
        <div class="ui three wide column"></div>
        
        <div class="ui ten wide column">
        
          <form class="ui form" action="/register/tenant" method="POST">
          
            <div class="ui fields">
              <div class="ui field">
                <input placeholder="First Name" type="text" name="user.firstName">
              </div>
              <div class="ui field">
                <input placeholder="Last Name" type="text" name="user.lastName">
              </div>
            </div>
            
            <!-- <div class="ui inline fields">
              <div class="fluid field">
                <div class="ui radio checkbox">
                  <input type="radio" checked="true" name="userType">
                  <label>landlord</label>
                </div>
              </div>
              <div class="fluid field">
                <div class="ui radio checkbox">
                  <input type="radio" name="userType">
                  <label>tenant</label>
                </div>
              </div>
            </div> -->
                        
            <div class="ui field">
              <input placeholder="Email" type="text" name="user.email">
            </div>
            
            <div class="ui field">
              <input placeholder="Password" type="password" name="user.password">
            </div>
            
            <div class="ui checkbox">
              <input type="checkbox" id="consentToTerms" name="consentToTerms">
              <label for="consentToTerms">I agree to the <a href="#">terms and conditions</a></label><br>
            </div>
            
            <!-- <div class="two blue ui buttons">
              <a href="/">
                <button class="ui button">Cancel</button>
              </a>
              <button class="ui submit button">Sign Up</button>              
            </div> -->
            
            <br><button class="ui blue submit button">Sign Up</button>
            <input type="button" class="ui blue submit button" value="Cancel" onClick="history.go(-1);return true;"></input>
            
            <div class="ui error message"></div>
            
          </form>
        </div>
        
        <div class="ui three wide column"></div>
        
      </div>
      
    </div>
  </div>
  
  <div class="ui four wide column"></div>  
  
</div>

<script src="/public/javascripts/validateTenantSignup.js" type="text/javascript"></script>
