#{extends 'main.html' /}
#{set title:'Tenant Profile' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/tenant/landing">Tenant</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/tenant">Log Out</a>
</nav>

<div class="ui segment">
  <div class="ui two column grid">
    
    <!-- Buttons/ Forms -->
    <div class="ui column">
      
      <!-- Existing Rental -->
      <div class="ui segment">
        <div class="ui form segment">
          <h5>Current Tenancy (Eircode)</h5>
          <input id="current_tenancy" value="${tenant.tenancy?.eircode}" 
            name="tenant.tenancy.eircode" type="text" readonly>
        </div>
      </div>
      
      <!-- Terminate Tenancy -->
      <div class="ui segment">
        <h5>Press to terminate tenancy</h5>
        <form class="ui form" action="/tenants/terminatetenancy" method="POST">
          <button class="ui blue fluid submit button">Terminate Tenancy</button>
        </form>
      </div>
      
      <!-- Change/ Select New Tenancy -->
      <div class="ui segment">
        <form class="ui form" action="/tenants/newtenancy" method="POST">
          
          <!-- Dropdown of available residences -->
          <div class="field">
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="eircode">
              <i class="dropdown icon"></i>
              <div class="default text">Choose Residence</div>              
              <div class="menu">
                #{list items:unrentedProperties, as:'residence'}
                <div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
                #{/list}
              </div>
              
            </div>
          </div>
          
          <!-- Button to select residence -->
          <div class="field">
              <button class="ui fluid blue submit button">Choose Residence</button>
          </div>
          
          <div class="ui error message"></div>
           
        </form>       
      </div>      
    </div>  
    
    <!-- Map -->
    <div class="ui column">
    
      <!-- <div class="ui segment">
        <div class="ui row">
          <h2> &ensp;Select the region you wish to report on</h2><br>
        </div>
      
        <form class="ui form" action="/generatereport" method="POST">
          
          Map
          <div class="ui segment">
            <div class="ui 16:9 embed" id="reportmapcanvas"></div>      
          </div>  
         
          Submit button
          <button class="ui blue submit button" onclick="getCircleData()">Generate Report</button>
          
          <div style="visibility: hidden" id="circledata" name="circledata">
            <input type="text" id="radius" name="radius" size=10">
            <input type="text" id="latcenter" name="latcenter" size=25">
            <input type="text" id="lngcenter" name="lngcenter" size=25">
          </div>
          
        </form>
      </div> -->
    
      <form class="ui form" action="/search/vacantresidences" method="POST">      
      <div class="ui segment">      
                     
        <div class="ui 16:9 embed" id="vacanciesReportMap"></div>          
        
        <div style="display: none" id="circledata" name="circledata">
          <div id="circledata" name="circledata">       
            <input type="text" id="radius" name="radius" size=10">
            <input type="text" id="latcenter" name="latcenter" size=25">
            <input type="text" id="lngcenter" name="lngcenter" size=25">
          </div>
        </div>
        
        <br><button type="submit" class="ui fluid blue submit button" onclick="getCircleData()">List Available Residences For Rent</button>
        
      </div>                       
    </form>        
    </div>
    
  </div>  
</div>

<script src="/public/javascripts/validateTenantLanding.js" type="text/javascript"></script>


  <script type="text/javascript" src="@{'/public/javascripts/enableDropdowns.js'}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlOuVm3ubQg-6H9DVqfjU_SlAfS_iYI8&callback=initMap"></script>
  <script src="@{'public/javascripts/vacanciesMap.js'}" type="text/javascript"></script>