#{extends 'main.html' /}
#{set title:'Report Data' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/config/landlord">Landlord</a>
  <a class="ui item" href="/inputdata">Input Data</a>
  <a class="ui active item" href="/selectregion">Report</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/landlord">Log Out</a>
</nav>

<div class="ui segment">
  <div class="ui row">
    <h2>Report</h2>
  </div>
    
    <!-- Report header -->    
      <table class="ui celled padded table">
        <thead>
          <tr>
            <th>Commissioned by</th>
            <th>Search: radius(m)</th>
            <th>Centre (latitude)</th>
            <th>Centre (longtitude)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>${user.firstName} ${user.lastName}</td>
            <td>${circle.radius}</td>
            <td>${circle.latcenter}</td>
            <td>${circle.lngcenter}</td>
          </tr>
        </tbody>
      </table>

      <!-- Report contents -->
      <table class="ui celled padded table">
        <thead>
          <tr>
            <th>Residence Id</th>
            <th>Residence User</th>
            <th>Date Registered</th>
            <th>Rent (&euro;)</th>
            <th>No. Bedrooms</th>
            <th>No. Bathrooms</th>
            <th>Area (Sq. Mtr)</th>
          </tr>
        </thead>
        <tbody>
          #{list items:residences, as:'residence'}
          <tr>
            <td>${residence.id}</td>
            <td>${residence.owner.firstName} ${residence.owner.lastName}</td>
            <td>${residence.dateRegistered}</td>
            <td>${residence.rentalAmount}</td>
            <td>${residence.numberBedrooms}</td>
            <td>${residence.numberBathrooms}</td>
            <td>${residence.area}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
      
</div>