#{extends 'main.html' /}
#{set title:'Select Region' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/config/landlord">Landlord</a>
  <a class="ui item" href="/inputdata">Input Data</a>
  <a class="ui active item" href="/selectregion">Report</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/landlord">Log Out</a>
</nav>

<div class="ui segment">
  <div class="ui row">
    <h2> &ensp;Select the region you wish to report on</h2><br>
  </div>

  <form class="ui form" action="/generatereport" method="POST">
    
    <!-- Map -->
    <div class="ui segment">
      <div class="ui 16:9 embed" id="reportmapcanvas"></div>      
    </div>  
   
    <!-- Submit button -->
    <button class="ui blue submit button" onclick="getCircleData()">Generate Report</button>
    
    <div style="visibility: hidden" id="circledata" name="circledata">
      <input type="text" id="radius" name="radius" size=10">
      <input type="text" id="latcenter" name="latcenter" size=25">
      <input type="text" id="lngcenter" name="lngcenter" size=25">
    </div>
    
  </form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlOuVm3ubQg-6H9DVqfjU_SlAfS_iYI8&callback=initMap"></script>
<script src="@{'public/javascripts/reportmap.js'}" type="text/javascript"></script>
