#{extends 'main.html' /}
#{set title:'Report Data' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/admin/landing">Config</a>
  <a class="ui active item" href="/adminreport/default">Reports</a>
  <a class="ui item" href="/adminchart">Charts</a>
  <a class="ui item" href="/logout/admin">Log Out</a>
</nav>

<div class="ui segment">
  <div class="ui row">
    <h3>Registered Properties: </h3>
  </div>
  
<!-- 
  <div class="ui row">
    <div class="ui grid segment">
    
      <div class="ui four wide column">
        <form class="ui form" action="/adminreport/byrented" method="GET">
          <button class="ui green submit button">Sort by Rented</button>
        </form>
      </div>
      
      <div class="ui four wide column">
        <form class="ui form" action="/adminreport/bytype" method="GET">
          <button class="ui green submit button">Sort by Type</button>
        </form>
      </div>
      
      <div class="ui four wide column">
        <form class="ui form" action="/adminreport/byrent" method="GET">
          <button class="ui green submit button">Sort by Rent</button>
        </form>
      </div>
      
      <div class="ui four wide column">
        <form class="ui form" action="/adminreport/default" method="GET">
          <button class="ui green submit button">All Properties</button>
        </form>
      </div>
      
    </div>
  </div> 
-->
    
    <!-- Report header -->    
      <table class="ui celled padded table">
        <thead>
          <tr>
            <th>
              Eircode&nbsp;
              <a href="/adminreport/default"><i class="long arrow up icon"></i></a>
              <a href="/adminreport/defaultrev"><i class="long arrow down icon"></i></a>
            </th>
            <th>Date</th>
            <th>
              Type&nbsp;
              <a href="/adminreport/bytype"><i class="long arrow up icon"></i></a>
              <a href="/adminreport/bytyperev"><i class="long arrow down icon"></i></a>
            </th>
            <th>No. Bedrooms</th>
            <th>No. Bathrooms</th>
            <th>
              Rent&nbsp;
              <a href="/adminreport/byrent"><i class="long arrow up icon"></i></a>
              <a href="/adminreport/byrentrev"><i class="long arrow down icon"></i></a>
            </th>
            <th>Area (sq mtrs)</th>
            <th>Landlord</th>
            <th>
              Tenant&nbsp;
              <a href="/adminreport/byrented"><i class="long arrow up icon"></i></a>
              <a href="/adminreport/byrentedrev"><i class="long arrow down icon"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          #{list items:allRes, as:'res'}
          <tr>
            <td>${res.eircode}</td>
            <td>${res.dateRegistered}</td>
            <td>${res.residenceType}</td>
            <td>${res.numberBedrooms}</td>
            <td>${res.numberBathrooms}</td>
            <td>${res.rentalAmount}</td>
            <td>${res.area}</td>
            <td>${res.owner?.firstName} ${res.owner?.lastName}</td>
            <td>${res.tenant?.firstName} ${res.tenant?.lastName}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
      
</div>