#{extends 'main.html' /}
#{set title:'Report Data' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/admin/landing">Config</a>
  <a class="ui item" href="/adminreport/default">Reports</a>
  <a class="ui active item" href="/adminchart">Charts</a>
  <a class="ui item" href="/logout/admin">Log Out</a>
</nav>

<div class="ui two column grid segment">
  
  <div class="ui eight wide column">
    <table class="ui celled padded table">
        <thead>
          <tr>
            <th>Landlord</th>
            <th>Eircode</th>
            <th>Rent</th>
          </tr>
        </thead>
        <tbody>
          #{list items:allRes, as:'res'}
          <tr>
            <td>${res.owner.firstName} ${res.owner.lastName}</td>
            <td>${res.eircode}</td>
            <td>${res.rentalAmount}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    
  </div>
  
  <div class="ui eight wide column">
    <div class="ui segment">
      <div id="chartContainer" style="width: 100%; height: 300px"></div>
    </div>
  </div>
      
</div>

<script src="/public/javascripts/pie.js" charset="utf-8"></script>
<script src="/public/javascripts/jquery.canvasjs.min.js" charset="utf-8"></script>
 
