#{extends 'main.html' /}
#{set title:'Admin::Main' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/admin/landing">Config</a>
  <a class="ui item" href="/adminreport/default">Reports</a>
  <a class="ui item" href="/adminchart">Charts</a>
  <a class="ui item" href="/logout/admin">Log Out</a>
</nav>

<div class="ui segment">
  <!-- <div class="ui row">
    <h1>JSON Obj: ${jsonArray[0].Tenant}</h1>
    <h2>Name of LL from Res List: ${allLandlords[0].residences[0].owner.firstName}</h2>
    <h2>Name of Tenant[0]'s residence: ${allTenants[0].tenancy.eircode}</h2>
  </div> -->
  
  <div class="ui two column grid">
    
    <!-- Buttons/ Forms -->
    <div class="ui column">
            
      <!-- Register Landlord -->
      <div class="ui segment">
        <form class="ui form" action="/register/landlord" method="POST">
          <button class="ui blue fluid submit button">Register Landlord</button>
        </form>
      </div>
      
      <!-- Register Tenant -->
      <div class="ui segment">
        <form class="ui form" action="/register/tenant" method="POST">
          <button class="ui blue fluid submit button">Register Tenant</button>
        </form>
      </div>
      
       
      <div class="ui segment">
        <form class="ui form" action="/delete/landlord" method="POST">
          
          <!-- Dropdown of available landlords -->
          <div class="field">
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="landlordId">
              <i class="dropdown icon"></i>
              <div class="default text">Choose Landlord</div>              
              <div class="menu">
                #{list items:allLandlords, as:'landlord'}
                <div class="item" data-value="${landlord.id}">${landlord.firstName} ${landlord.lastName}</div>
                #{/list}
              </div>              
            </div>
          </div>
          
          <!-- Button to select residence -->
          <div class="field">
              <button class="ui fluid blue submit button">Delete Landlord</button>
          </div>
          
          <div class="ui error message"></div>
           
        </form>       
      </div> 

      
      <div class="ui segment">
        <form class="ui form" action="/delete/tenant" method="POST">
          
          <!-- Dropdown of available tenants -->
          <div class="field">
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="tenantId">
              <i class="dropdown icon"></i>
              <div class="default text">Choose Tenant</div>              
              <div class="menu">
                #{list items:allTenants, as:'tenant'}
                <div class="item" data-value="${tenant.id}">${tenant.firstName} ${tenant.lastName}</div>
                #{/list}
              </div>              
            </div>
          </div>
          
          <!-- Button to select residence -->
          <div class="field">
              <button class="ui fluid blue submit button">Delete Tenant</button>
          </div>
          
          <div class="ui error message"></div>
           
        </form>       
      </div> 
     
           
    </div>  
    
    <!-- Map -->
    <div class="ui column">    
      <div class="ui segment">                     
        <div class="ui 4:3 embed" id="adminMap"></div>          
      </div>                       
    </div>
    
  </div>  
</div>

<script type="text/javascript" src="@{'/public/javascripts/enableDropdowns.js'}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlOuVm3ubQg-6H9DVqfjU_SlAfS_iYI8&callback=initMap"></script>
<script src="@{'public/javascripts/adminMap2.js'}" type="text/javascript"></script>
  
<script src="/public/javascripts/validateAdminLanding.js" type="text/javascript"></script>

 