#{extends 'main.html' /}
#{set title:'Login' /}

<div class="ui three column grid">

  <div class="ui four wide column"></div>
  
  <div class="ui eight wide column">
    
    <!--  page banner -->
    <div class="ui segment">
      <img class="ui fluid image" src="/public/images/myrent_banner.jpg">
    </div>
    
    <div class="ui segment">
    
      <h1 class="ui center aligned header">Log into your account</h1> 
      <div class="ui divider"></div>  
      
      <div class="ui three column grid">
        <div class="ui row"></div>
        
        <div class="ui four wide column"></div>
        
        <div class="ui eight wide column">
          <!-- <div class="ui grid"> -->
          
          <form class="ui form" action="/authenticate/admin" method="POST">
          
            <div class="ui fluid field">
              <input placeholder="Email" type="text" name="username">
            </div>
            
            <div class="ui fluid field">
              <input placeholder="Password" type="password" name="password">
            </div>
            
            <!-- <div class="ui inline fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" checked="true" name="userType">
                  <label>landlord</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="userType">
                  <label>tenant</label>
                </div>
              </div>
            </div> -->
            
            <button class="ui fluid blue submit button">Login</button>
            
            <div class="ui error message"></div>
            
          </form>
          <!-- </div> -->
        </div>
        
        <div class="ui four wide column"></div>
        
        <div class="ui row"></div>    
      </div>   
       
    </div>
    
  </div>
  
  <div class="ui four wide column"></div>  
  
</div>

<script src="/public/javascripts/validateAdminLogin.js" type="text/javascript"></script>
