#{extends 'main.html' /}
#{set title:'Welcome to MyRent' /}

<div class="ui three column grid">

  <div class="ui four wide column"></div>
  
  <div class="ui eight wide column">
    
    <!--  page banner -->
    <div class="ui segment">
      <img class="ui fluid image" src="/public/images/myrent_banner.jpg">
    </div>
      
    <!--  main page content -->  
    <div class="ui segment">
      <h1 class="ui center aligned header">Welcome to MyRent!</h1> 
      <div class="ui divider"></div>
      
      <p>  
        MyRent is a free service that allows landlords and tenants to maintain details of their rental properties in Ireland.
      </p>
      <p>  
        As a landlord, MyRent allows you to keep track of all your rental properties all in one place.
      </p>
      <p>  
        As a tenant, MyRent allows you to keep track of your tenancy details, and check the market rents in an area you may be considering moving to.
      </p>
      <p>  
        Log in or sign up below to start using MyRent today!
      </p>
      <div class="ui divider"></div>
      
      <!-- Signin/ Signup -->
      <div class="ui two column middle aligned very relaxed stackable grid" style="position: relative">
        
        <!-- <div class="ui column">
          <form class="ui form" action="/authenticate" method="POST">
            <div class="ui field">
              <div class="ui left icon input">
                <input type="text" placeholder="Email" name="user.email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="ui field">
              <div class="ui left icon input">
                <input type="password" placeholder="Password" name="user.password">
                <i class="lock icon"></i>
              </div>
            </div>
            
            <div class="ui inline fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" checked="true" name="userType">
                  <label>landlord</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="userType">
                  <label>tenant</label>
                </div>
              </div>
            </div>
            
            <button class="ui blue submit button">Login</button>
          </form>          
        </div> -->
        
        <div class="ui center aligned column">
          <div class="ui vertical buttons">
            <a href="/signin/landlord">
              <button class="ui green button">Login as Landlord</button>
            </a><br>
            <a href="/signin/tenant">
              <button class="ui green button">Login as Tenant</button>
            </a>
          </div>
        </div>
        
        <div class="ui vertical divider">
          Or
        </div>
        
        <div class="ui center aligned column">
          <div class="ui vertical buttons">
            <a href="/signup/landlord">
              <button class="ui green button">Signup as Landlord</button>
            </a><br>
            <a href="/signup/tenant">
              <button class="ui green button">Signup as Tenant</button>
            </a>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
  <div class="ui four wide column"></div>  
  
</div>