#{extends 'main.html' /}
#{set title:'Sign up' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/config/landlord">Landlord</a>
  <a class="ui active item" href="/inputdata">Input Data</a>
  <a class="ui item" href="/selectregion">Report</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/landlord">Log Out</a>
</nav>

<!-- <nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  
  <a class="ui dropdown link item" href="#">
    Landlord<i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" onclick="/editprofile">Edit Profile</div>
    </div>
  </a>
  
  <a class="ui dropdown item" href="#">
    Residences<i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" onclick="/inputdata">Add Residence</div>
      <div class="item" href="#">Edit Residence</div>
      <div class="item" href="#">Delete Residence</div>
    </div>
  </a>
  
  <a class="ui active item" href="/inputdata">Input Data</a>
  <a class="ui item" href="/selectregion">Report</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/landlord">Log Out</a>
</nav> -->

<div class="ui three column grid segment">
  
  <div class="ui row">
    <h2 class="ui header">
      <div class="content">
         &ensp;Please input residence data
        <!-- <div class="sub header"> &ensp; (If you need to, you can edit your profile <a href="/editprofile">here</a>)</div> -->
      </div>
    </h2>
  </div>
  
  <!-- Start of form -->
  <div class="ui four wide column">
    <form class="ui form" action="/registerproperty" method="POST">
      
      <!-- Geo co-ordinates of residence -->
       <div class="ui segment">
	        <label>Location<br></label>
          <div class="ui input">
            <input id="geolocation" value="52.254427, -7.185281" name="residence.geoLocation" type="text" readonly>
          </div>
      </div>
      
      <!-- Eircode of residence -->
       <div class="ui segment">
          <label>Location<br></label>
          <div class="ui input">
            <input id="eircode" value="" placeholder="Eircode"name="residence.eircode" type="text">
          </div>
      </div>      
	    
      <!-- Rent value of residence -->
	    <div class="ui segment">
	      <div class="ui labeled input">
          <div class="ui label">Rent(&euro;)</div>
				  <input value="" type="text" placeholder="Rental amount" name="residence.rentalAmount" size="4">
				</div>
	    </div>

      <!-- Bedrooms, bathrooms, and area of residence -->
      <div class="ui segment">
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">Bedrooms:</div>
            <input value="" type="text" placeholder="No. bedrooms" name="residence.numberBedrooms" size="1">
          </div>
        </div>
   
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">Bathrooms:</div>
            <input value="" type="text" placeholder="No. bathrooms" name="residence.numberBathrooms" size="1">
          </div>
        </div>

        <div class="field">  
          <div class="ui labeled input">
            <div class="ui label">Area (sq. metres)</div>
            <input value="" type="text" placeholder="Area of property" name="residence.area" size="1">
          </div>
        </div>
      </div>

      <!-- Type of residence -->
 	    <div class="ui segment">
        <div class="ui selection dropdown">
          <input name="residence.residenceType" type="hidden">
          <div class="default text">Residence type</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="Apartment">Apartment</div>
            <div class="item" data-value="House">House</div>
          </div>          
        </div>
        <script type="text/javascript">$('.ui.dropdown').dropdown();</script>
        <script src="@{'/public/javascripts/residencetype.js'}"></script>
      </div>     
                
	    <br><button class="ui blue submit button">Submit Data <i class="user icon"></i></button>
      
      <div class="ui error message"></div>
      
    </form>
    </div>
    <!-- End of form -->
  
  <!-- Google map -->
  <div class="ui eight wide column">
    <div class="ui segment">
      <div class="ui 4:3 embed" id="mapcanvas"></div>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script src="public/javascripts/map.js"></script>
    </div>
  </div>
   
  <!-- Eircode iFrame -->
  <div class="ui four wide column">
    <div class="ui raised fluid form segment">
      <div><!-- eircode iframe -->
        <iframe src="https://finder.eircode.ie/#/map" width= "100%" height= "300px"></iframe>
      </div>
    </div>
  </div> 
      
</div>

<script src="/public/javascripts/validateInputData.js" type="text/javascript"></script>
