#{extends 'main.html' /}
#{set title:'Submit Feedback' /}

<nav class="ui menu">
  <a class="ui item" onClick="history.go(-2);return true;">Return</a>
</nav>

<div class="ui segment">
  <h3>Thank you for your feedback!</h3>
</div>