#{extends 'main.html' /}
#{set title:'Submit Feedback' /}

<nav class="ui menu">
  <a class="ui item" onClick="history.go(-1);return true;">Return</a>
</nav>

<!-- <nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui item" href="/inputdata">Input Data</a>
  <a class="ui item" href="/selectregion">Report</a>
  <a class="ui active item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout">Log Out</a>
</nav> -->

<div class="ui grid segment">
  <form class="ui form" action="/submitfeedback" method="POST">  
  
    <div class="ui vertical segment">
      <h3>We would appreciate if you leave some feedback.</h3>
    </div>
    
    <div class="ui vertical segment">    
      <div class="fields">
        <div class="field">
          <input placeholder="Your First Name" type="text" name="feedback.firstName">
        </div>
        <div class="field">
          <input placeholder="Your Last Name" type="text" name="feedback.lastName">
        </div>
      </div>      
      <div class="field">
        <input placeholder="Your Email Address" type="text" name="feedback.email">
      </div>
    </div>
  
    <div class="ui vertical segment">    
      <div class="field">
        <textarea placeholder="Your Message" name="feedback.message"></textarea>      
      </div>
    </div> 
    
    <div class="ui vertical segment">    
      <button class="ui blue submit button">Submit</button>
    </div>  
    
    <div class="ui error message"></div>
    
  </form>  
</div>

<script src="/public/javascripts/validateInputFeedback.js" type="text/javascript"></script>


<!-- <div class="ui segment">
  <h1>Create a MyRent Account</h1>
  <h2>Register using a valid email address</h2>
  <div class="ui two column grid segment">
    <div class="ui column">
      <form class="ui form" action="/register" method="POST">
        <div class="ui field">
          <input placeholder="First Name" type="text" name="user.firstName">
        </div>
        <div class="ui field">
          <input placeholder="Last Name" type="text" name="user.lastName">
        </div>
        <div class="ui field">
          <input placeholder="Email" type="text" name="user.email">
        </div>
        <div class="ui field">
          <input placeholder="Password" type="password" name="user.password">
        </div>
        <div class="ui checkbox">
          <input type="checkbox" id="consentToTerms" name="consentToTerms">
          <label for="consentToTerms">I agree to the terms and conditions</label><br>
        </div>
        <br><button class="ui blue submit button">Sign Up</button>
      </form>
    </div>    
  </div>
</div> -->