#{extends 'main.html' /}
#{set title:'Sign up' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/config/landlord">Landlord</a>
  <a class="ui item" href="/inputdata">Input Data</a>
  <a class="ui item" href="/selectregion">Report</a>
  <a class="ui item" href="/inputfeedback">Contact</a>
  <a class="ui item" href="/logout/landlord">Log Out</a>
</nav>

<div class="ui segment">

  <h3>Landlord configuration page</h3>
  
  <div class="ui two column grid container">
    
    <!-- Add Residence and Edit Profile row -->
    <div class="ui row">
      
      <!-- Add Residence button -->
      <div class="ui five wide column segment">
        <a href="/inputdata">
          <button class="ui fluid blue button">Add Residence</button>
        </a>
      </div>
      
      <!-- spacer column -->
      <div class="ui one wide column"></div>
      
      <!-- Edit Landlord button -->
      <div class="ui five wide column segment">
        <a href="/inputdata">
        <a href="/editprofile/landlord">
          <button class="ui fluid blue button">Edit Landlord Profile</button>
        </a>
      </div>
    </div>
    
    <!-- Delete Residence and Edit Residence row -->
    <div class="ui row">
      
      <!-- Delete Residence form -->
      <div class="ui five wide column segment">
        <form class="ui form" action="/deleteresidence" method="POST">
          
          <!-- Dropdown for Delete Residence -->
          <div class="field">
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="eircode">
              <i class="dropdown icon"></i>
              <div class="default text">Add Residence</div>              
              <div class="menu">
                #{list items:landlordResidences, as:'residence'}
                <div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
                #{/list}
              </div>
              
            </div>
          </div>
          
          <!-- Button for Delete Residence -->
          <div class="field">
              <button class="ui fluid blue submit button">Delete Residence</button>
          </div>
          
          <div class="ui error message"></div>
          
        </form>
      </div>
      
      <!-- spacer column -->
      <div class="ui one wide column"></div>
            
      <!-- Edit Residence form -->
      <div class="ui five wide column segment">
        <form class="ui form" action="/editresidence" method="POST">
          
          <!-- Dropdown for Edit Residence -->
          <div class="field">
            <div class="ui fluid selection dropdown">
              <input name="eircode" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Edit Residence</div>
              <div class="menu">
                #{list items:landlordResidences, as:'residence'}
                <div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
                #{/list}
              </div>
            </div>
          </div>
          
          <!-- Button for Edit Residence -->
          <div class="field">
            <button class="ui fluid blue submit button">Edit Residence</button>
          </div>
          
          <div class="ui error message"></div>
          
        </form>
      </div>    
    
    </div>
  </div>
  <script type="text/javascript" src="@{'/public/javascripts/enableDropdowns.js'}"></script>
</div>

<script src="/public/javascripts/validateLandlordConfig.js" type="text/javascript"></script>