#{extends 'main.html' /}
#{set title:'Sign up' /}

<nav class="ui menu">
  <a class="ui item" onClick="history.go(-1);return true;">Return</a>
</nav>

<div class="ui segment">
  <h1>Change your profile details</h1>
  <h2>Input your new details below</h2>
  <div class="ui two column grid segment">
    <div class="ui column">
    
      <form class="ui form" action="/editdetails/landlord" method="POST">
        
        <div class="ui field">
          <input placeholder="Registered first name: ${landlord.firstName}" value="${landlord.firstName}" type="text" name="user.firstName">
        </div>
        
        <div class="ui field">
          <input placeholder="Registered last name: ${landlord.lastName}" value="${landlord.lastName}" type="text" name="user.lastName">
        </div>
        
        <div class="ui field">
          <input placeholder="Registered address: ${landlord.lastName}" value="${landlord.address}" type="text" name="user.address">
        </div>
        
        <br><button class="ui blue submit button">Submit</button>
        
        <div class="ui error message"></div>
        
      </form>
    </div>    
  </div>
</div>

<script src="/public/javascripts/validateLandlordEditProf.js" type="text/javascript"></script>