#{extends 'main.html' /}
#{set title:'Edit Residence' /}

<nav class="ui menu">
  <a class="ui item" onClick="history.go(-1);return true;">Return</a>
</nav>

<div class="ui segment">
  <h2>Please amend residence details below</h2>
  <div class="ui two column grid">
  
  <!-- Start of form -->
  <div class="ui column">
    <form class="ui equal width form" action="/editResidenceDetails" method="POST">
    
    <!-- Geolocation and Eircode -->
    <div class="ui segment">              
      <div class="fields">
        
        <div class="disabled field">
          <label>Geolocation</label>
          <div class="ui input">
            <input id="geolocation" value="${residence.geoLocation}" name="residence.geoLocation" type="text" readonly>
          </div>
        </div>
        
        <div class="disabled field">
          <label>Eircode</label>
          <div class="ui input">
            <input id="eircode" value="${residence.eircode}" name="residence.eircode" type="text" readonly>
          </div>
        </div> 
             
      </div>                 
    </div>
    
    <!-- Residence-Type and Area -->
    <div class="ui segment">              
      <div class="fields">
    
        <div class="field">
          <div class="ui selection dropdown">
            <input name="residence.residenceType" type="hidden">
            <div class="default text">${residence.residenceType}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="Apartment">Apartment</div>
              <div class="item" data-value="House">House</div>
            </div>          
          </div>
          <script type="text/javascript">$('.ui.dropdown').dropdown();</script>
        </div>
        
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">Area (sq. metres)</div>
            <input value="${residence.area}" type="text" placeholder="Area" name="residence.area" size="1">
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Bedrooms, bathrooms, and area of residence -->
    <div class="ui segment">
      <div class="fields">
        
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">Bedrooms:</div>
            <input value="${residence.numberBedrooms}" type="text" placeholder="No. bedrooms" name="residence.numberBedrooms" size="1">
          </div>
        </div>
     
        <div class="field">
          <div class="ui labeled input">
            <div class="ui label">Bathrooms:</div>
            <input value="${residence.numberBathrooms}" type="text" placeholder="No. bedrooms" name="residence.numberBathrooms" size="1">
          </div>
        </div>
          
      </div>
    </div>
      
      <!-- Rented/ vacant status of residence -->
      <div class="ui segment">
      
        <div class="fields">
          
          <div class="field">
            <div class="grouped inline fields">
               <div class="field">
                 <div class="ui radio checkbox">
                  <input type="radio" checked="checked" name="residence.rentedStatus" value="yes">
                  <label>Rented</label>
                 </div>
               </div>
               <div class="field">
                 <div class="ui radio checkbox">
                  <input type="radio" name="residence.rentedStatus" value="no">
                  <label>Vacant</label>
                 </div>
               </div>
             </div>
          </div>
          
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Rent(&euro;)</div>
              <input value="${residence.rentalAmount}" type="text" placeholder="Rental amount" name="residence.rentalAmount" size="4">
            </div>
          </div>
        </div>
        

      </div>
                     
      <br><button class="ui blue submit button">Update Data <i class="user icon"></i></button>
      
      <div class="ui error message"></div>
      
    </form>
  </div>
  <!-- End of form -->
  
  </div>
</div>

<script src="/public/javascripts/validateEditResidence.js" type="text/javascript"></script>
