#{extends 'main.html' /}
#{set title:'Sign up' /}

<div class="ui three column grid">

  <div class="ui four wide column"></div>
  
  <div class="ui eight wide column">
  
    <!--  page banner -->
    <div class="ui segment">
      <img class="ui fluid image" src="/public/images/myrent_banner.jpg">
    </div>
    
    <div class="ui segment">
    
      <h1 class="ui center aligned header">Log into your account</h1> 
      <div class="ui divider"></div>  
      
      <div class="ui three column grid">
        <div class="ui row"></div>
        
        <div class="ui four wide column"></div>
        
        <div class="ui eight wide column">
          <!-- <div class="ui grid"> -->
          
          <form class="ui form" action="/authenticate/landlord" method="POST">
          
            <div class="ui fluid field">
              <input placeholder="Email" type="text" name="user.email">
            </div>
            
            <div class="ui fluid field">
              <input placeholder="Password" type="password" name="user.password">
            </div>
            
            <!-- <div class="ui inline fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" checked="true" name="userType">
                  <label>landlord</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="userType">
                  <label>tenant</label>
                </div>
              </div>
            </div> -->
            
            <button class="ui fluid blue submit button">Login</button>
            
            <div class="ui error message"></div>
            
          </form>
          <!-- </div> -->
        </div>
        
        <div class="ui four wide column"></div>
        
        <div class="ui row"></div>    
      </div>   
       
    </div>
    
  </div>
  
  <div class="ui four wide column"></div>  
  
</div>

<script src="/public/javascripts/validateLogin.js" type="text/javascript"></script>



<!-- #{extends 'main.html' /}
#{set title:'Sign up' /}

<div class="ui three column grid">

  <div class="ui four wide column"></div>
  
  <div class="ui eight wide column">
    <nav class="ui three item menu">
      <a class="ui item" href="/">Welcome</a>
      <a class="ui item" href="/signup">Sign Up</a>
      <a class="ui active item" href="/signin">Log In</a>
    </nav>
    
    <div class="ui segment">
      <h1 class="ui center aligned header">Log into your account</h1>
      <div class="ui divider"></div>  
      <h2>Your username is the email you registered with</h2>
      <div class="ui two column grid segment">
        <div class="ui column">
          <form class="ui form" action="/authenticate" method="POST">
            <div class="ui field">
              <input placeholder="Email" type="text" name="user.email">
            </div>
            <div class="ui field">
              <input placeholder="Password" type="password" name="user.password">
            </div>
            <button class="ui blue submit button">Login</button>
          </form>
        </div>    
      </div>
    </div>
    
  </div>
  
  <div class="ui four wide column"></div>  
  
</div> -->